<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoWebAngel</display-name>
  
  <!-- INICIO -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Context Params -->
  
	<!-- 
  <context-param>
      <param-name>peticiones_contador</param-name>
      <param-value>0</param-value>
  </context-param>
  
  <context-param>
      <param-name>peticiones_activas</param-name>
      <param-value>0</param-value>
  </context-param>
  -->
  
  <!-- Configuracion Tiempo de Sesion -->
  
  <session-config>
      <session-timeout>5</session-timeout>
  </session-config>
  
  <!-- Servlets -->
  
  <servlet>
      <servlet-name>Servlet2</servlet-name>
      <servlet-class>servlet.ServletPruebasGetPost</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet2</servlet-name>
	  <url-pattern>/ServletPruebas</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet3</servlet-name>
      <servlet-class>servlet.ServletEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet3</servlet-name>
	  <url-pattern>/ServletEmployee</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet4</servlet-name>
      <servlet-class>servlet.ServletLeerEmployee_JDBC_HIBERNATE_JPA</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet4</servlet-name>
	  <url-pattern>/ServletEmployee2</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet5</servlet-name>
      <servlet-class>servlet.ServletDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet5</servlet-name>
	  <url-pattern>/ServletDepartment</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet6</servlet-name>
      <servlet-class>servlet.ServletDepartment2</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet6</servlet-name>
	  <url-pattern>/ServletDepartment2</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet7</servlet-name>
      <servlet-class>servlet.ServletIncrementarSalario</servlet-class>
      <init-param>
          <param-name>incrementalsalario</param-name>
          <param-value>1.2</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet7</servlet-name>
	  <url-pattern>/ServletIncrementarSalario</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet8</servlet-name>
      <servlet-class>servlet.ServletAutentificacion</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet8</servlet-name>
	  <url-pattern>/ServletAutentificacion</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet9</servlet-name>
      <servlet-class>servlet.ServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet9</servlet-name>
	  <url-pattern>/ServletSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet10</servlet-name>
      <servlet-class>servlet.ServletConexionesActivas</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet10</servlet-name>
	  <url-pattern>/ServletConexionesActivas</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet11</servlet-name>
      <servlet-class>servlet.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet11</servlet-name>
	  <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet12</servlet-name>
      <servlet-class>servlet.ServletRedireccion</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet12</servlet-name>
	  <url-pattern>/ServletRedireccion</url-pattern>
  </servlet-mapping>
  
  <!-- Listeners -->
  
<!--   <listener> -->
<!-- 		<listener-class>baul.HTTPSessionListener</listener-class> -->
<!--   </listener> -->
  
<!--   <listener> -->
<!-- 		<listener-class>baul.ServletContextListener</listener-class> -->
<!--   </listener> -->
  
<!--   <listener> -->
<!-- 		<listener-class>baul.ServletRequestListener</listener-class> -->
<!--   </listener> -->
  
  <!-- Filters -->
  
  <!-- Filtro Desactivado (Medir tiempo)
  
  <filter>
    <filter-name>filter1</filter-name>
    <filter-class>servlet.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  Fin Filtro Desactivado (Medir tiempo) -->
  
  <filter>
    <filter-name>filter2</filter-name>
    <filter-class>servlet.FilterEmployeeJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter2</filter-name>
    <url-pattern>/ServletEmployee</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>filter3</filter-name>
    <filter-class>servlet.FilterEmployeeHibernate</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter3</filter-name>
    <url-pattern>/ServletEmployee2</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>filter4</filter-name>
    <filter-class>servlet.FilterDepartment</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter4</filter-name>
    <url-pattern>/ServletDepartment</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>filter5</filter-name>
    <filter-class>servlet.FiltroSesionActiva</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter5</filter-name>
    
    <url-pattern>/buscardeparments.html</url-pattern>
    <url-pattern>/department.html</url-pattern>
    <url-pattern>/employee.html</url-pattern>
    <url-pattern>/employee2.html</url-pattern>
    <url-pattern>/incrementarsalario.html</url-pattern>
    <url-pattern>/proyectos.html</url-pattern>
    <url-pattern>/login.html</url-pattern>
    <url-pattern>/proyectos.html</url-pattern>
    <url-pattern>/pruebagetpost.html</url-pattern>
    <url-pattern>/sesiones.html</url-pattern>
    
    <url-pattern>/ServletAutentification</url-pattern>
    <url-pattern>/ServletCerrarSesion</url-pattern>
    <url-pattern>/ServletConexionesActivas</url-pattern>
    <url-pattern>/ServletDepartment</url-pattern>
    <url-pattern>/ServletDepartment2</url-pattern>
    <url-pattern>/ServletEmployee</url-pattern>
    <url-pattern>/ServletIncrementarSalario</url-pattern>
    <url-pattern>/ServletLeerEmployee_JDBC_HIBERNATE_JPA</url-pattern>
    <url-pattern>/ServletPruebasGetPost</url-pattern>
    <url-pattern>/ServletRedireccion</url-pattern>
    <url-pattern>/ServletSesion</url-pattern>
  </filter-mapping>
  
</web-app>